<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameFiesta - Tworzenie turnieju</title>
    <link rel="stylesheet" href="/styles/createTournamentCSS.css">
</head>
<body>

<header>
    <nav class="topnav" >
        <ul>
            <li><a href="/home">Strona Główna</a></li>
            <li><a href="/tournaments">Turnieje</a></li>
        </ul>
    </nav>
    <div class="right-header-content">
        <div sec:authorize="isAuthenticated()">
            <div th:replace="/inviteInbox::inviteBtn"></div>
        </div>
        <div class="dropdown">
            <div class="usermenu">
                <div sec:authorize="isAnonymous()">
                    <p class="usernameText">Guest</p>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <p class="usernameText"><div sec:authentication="principal.username"></div></p>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <div class="dropdown-content">
                    <a href="/auth/login">Log In</a>
                    <a href="/auth/register">Register</a>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div class="dropdown-content">
                    <a href="/profile">Profil</a>
                    <a href="/logout">Wyloguj</a>
                </div>
            </div>
        </div>
    </div>
</header>

<form action="/tournaments/createTournament" method="post">
    <input type="hidden" id="organizerID" name="organizerId" th:value="${#authentication.principal.getUsername()}" required>

    <label for="tournamentName">Tournament Name:</label>
    <input type="text" id="tournamentName" name="tournamentName" required><br>

    <label for="bracketType">Bracket Type:</label>
    <select id="bracketType" name="bracketType" required>
        <option value="classic">Classic</option>
    </select><br>

    <label for="playerCount">Player Count:</label>
    <input type="number" id="playerCount" name="playerCount" required><br>

    <label for="date">Date (format: yyyy-MM-dd):</label>
    <input type="text" id="date" name="date" placeholder="yyyy-MM-dd" required><br>

    <label for="shortDescription">Short Description:</label>
    <input type="text" id="shortDescription" name="shortDescription" required><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>