<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/inviteInboxCSS.css}">
</head>
<body>

<div th:fragment="inviteBtn" class="invites-container">
    <button class="invitebutton" onclick="toggleContent()">
        <i class="gg-bell"></i>
    </button>
    <ul class="invites-list" id="invitesList">
    </ul>
    
    </div>


</body>
</html>