<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tournaments">
        <div th:each="tournament: ${tournaments}">
            <span th:text="${tournament._id}"></span>
            <!-- <button onClick="javascript:window.location.href='/tournaments/[[${tournament._id}]]'">Edit</button> -->
            <button th:onclick="javascript:window.location.href='/tournaments/[(${tournament._id})]'"></button>
        </div>

    </div>
</body>
</html>