* {
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 80wh;
}

#myTournaments,
#Tournaments,
#ads {
    display: inline-block;
    width: 32%;
    height: 80wh;
    border: 1px black solid;
}

.tournamentObject {
    width: 100%;
}

.menu-content {
    max-height: 0;
    /* overflow:auto; */
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    display: absolute;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 3px solid #CDE700;
    z-index: 1;
    height: 100px;
}

.collapsible-menu {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 3px solid #CDE700;
    width: 8%;
    cursor: pointer; /* Added this line */
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Added this line */
}

.collapsible-menu a {
    display: flex;
    padding: 7px;
    text-decoration: none;
}

.collapsible-menu label {
    font-size: 20px;
    display: flex;
}

input#menu {
    display: none;
}

input:checked ~ .menu-content {
    max-height: 200px;
    height: 150px;
}
