header {
    background: whitesmoke;
    width: 100vw;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: space-between;
}

.right-header-content{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.topnav {
    height: 100%;
    user-select: none;
}

.topnav ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.topnav a {
    font-family: system-ui;
    display: block;
    color: black;
    font-size: 20px;
    text-align: center;
    height: 100%;
    padding: 11px 15px 15px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #3F48CC;
    color: whitesmoke;
}

.contentsec{
    flex: 1;
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}

.usermenu {
    display: inline-flex;
    align-items: center;
    user-select: none;
    justify-content: flex-start;
    float: right;
    box-sizing: border-box;
    height: 53px;
    width: 150px;
    padding: 10px;
}

.usermenu:hover {
    background-color: #00A2E8;
    color: white;
}

.usermenu img{
    height: 32px;
    width: 32px;
    margin-right: 8px
}

.usermenu p{
    font-family: system-ui;
    font-size: 16px;
    margin: 0;
}

.dropdown {
    display: inline-block;
    width: 150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 53px;
    right: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}